.nm-search-view {
    background: white;
    border-radius: 15px;

    > .icon {
        color: #373737;
        margin-left: 12px;
        opacity: 0.5;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    > input[type=search] {
        border: none;
        background: transparent;
        padding: 6px 8px 6px 8px;

    }
}
